@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #af5f00;
  --link-color: #af3700;
  --bg-color: #0e0014;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--bg-color);
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
  display:inline;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 20px 0;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  color: var(--link-color);
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

nav ul li:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

#portfolio-content a, #contact-content a{
  display:block;
}

.cursor-wrap {
  display:inline;
}

.content-wrap {
  transition: opacity .3s ease-in-out;
  opacity: 0;
}